@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UserAuthApp</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to UserAuthApp</h2>
        <p>
            UserAuthApp is a simple web application designed with the aim of learning the basics of user authentication & authorisation as well as cloud deployment.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Technologies used:</h2>
        <p>
            C#, ASP.NET, MVC5, EntityFramework 6, OAuth2, SSL, Windows Azure(Cloud Deployment).
    </div>
</div>